*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #1c1c1c;
  color: white;
  font-family: Georgia;
  
}


section { 
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}


.accordian {
  max-width: 50%;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid white;
}

.items {
  font-size: 1.5rem;
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data{
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease-in;
}

.accordian.active .data {
  max-height: 300px;
  transition: 0.7s ease-out;
}

.secHover :hover{
  background-color: #242323;
}

svg {
  transform: rotate(270deg);
}

.accordian.active svg {
  transform: rotate(180deg);
}

svg {
  transition: transform 0.1s ease-in
}